@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/styles.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tooltip-fade-in {
  animation: fadeIn 500ms ease-out;
}

.tooltip-arrow-fade-in {
  animation: fadeIn 500ms ease-out 200ms;
}

.tooltipLeft-fade-in {
  animation: fadeIn 500ms ease-out 300ms; /* 300ms delay before fade-in */
}

/* Adjust the arrow to fade in with the tooltip with a slight delay */
.tooltip-Leftarrow-fade-in {
  animation: fadeIn 500ms ease-out 500ms; /* Arrow fades in after tooltip with its own delay */
}

/* Define the FadeInUp animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start 20px below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

/* Add animation class for fading in with upward movement */
.heading-fadeup {
  animation: fadeInUp 500ms ease-out;
}

/* Style for the scrolling container */
.infinite-scroll {
  display: flex;
  animation: scroll 25s linear infinite; /* 5s for smooth scrolling duration */
}

/* Keyframes for smooth scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0); /* Start at the left */
  }
  100% {
    transform: translateX(
      -50%
    ); /* Scroll to the left, with the exact width of the container */
  }
}

/* Optional: Make sure the container has enough width to hold the content */
.overflow-hidden {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
